@font-face {
    font-family: "Meteocons";
    src: url("./Meteocons.svg?cde9b1e1c4571828d130835846c14fbc#Meteocons") format("svg"),
url("./Meteocons.ttf?cde9b1e1c4571828d130835846c14fbc") format("truetype"),
url("./Meteocons.woff?cde9b1e1c4571828d130835846c14fbc") format("woff"),
url("./Meteocons.woff2?cde9b1e1c4571828d130835846c14fbc") format("woff2");
}

i[class^="m-"]:before, i[class*=" m-"]:before {
    font-family: Meteocons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.m-wi_alert-avalanche-danger:before {
    content: "\f101";
}
.m-wi_alert-falling-rocks:before {
    content: "\f102";
}
.m-wi_barometer:before {
    content: "\f103";
}
.m-wi_beanie:before {
    content: "\f104";
}
.m-wi_celsius:before {
    content: "\f105";
}
.m-wi_clear-day:before {
    content: "\f106";
}
.m-wi_clear-night:before {
    content: "\f107";
}
.m-wi_cloud-down:before {
    content: "\f108";
}
.m-wi_cloud-up:before {
    content: "\f109";
}
.m-wi_cloudy:before {
    content: "\f10a";
}
.m-wi_code-green:before {
    content: "\f10b";
}
.m-wi_code-orange:before {
    content: "\f10c";
}
.m-wi_code-red:before {
    content: "\f10d";
}
.m-wi_code-yellow:before {
    content: "\f10e";
}
.m-wi_compass:before {
    content: "\f10f";
}
.m-wi_drizzle:before {
    content: "\f110";
}
.m-wi_dust-day:before {
    content: "\f111";
}
.m-wi_dust-night:before {
    content: "\f112";
}
.m-wi_dust-wind:before {
    content: "\f113";
}
.m-wi_dust:before {
    content: "\f114";
}
.m-wi_extreme-day-drizzle:before {
    content: "\f115";
}
.m-wi_extreme-day-fog:before {
    content: "\f116";
}
.m-wi_extreme-day-hail:before {
    content: "\f117";
}
.m-wi_extreme-day-haze:before {
    content: "\f118";
}
.m-wi_extreme-day-rain:before {
    content: "\f119";
}
.m-wi_extreme-day-sleet:before {
    content: "\f11a";
}
.m-wi_extreme-day-smoke:before {
    content: "\f11b";
}
.m-wi_extreme-day-snow:before {
    content: "\f11c";
}
.m-wi_extreme-day:before {
    content: "\f11d";
}
.m-wi_extreme-drizzle:before {
    content: "\f11e";
}
.m-wi_extreme-fog:before {
    content: "\f11f";
}
.m-wi_extreme-hail:before {
    content: "\f120";
}
.m-wi_extreme-haze:before {
    content: "\f121";
}
.m-wi_extreme-night-drizzle:before {
    content: "\f122";
}
.m-wi_extreme-night-fog:before {
    content: "\f123";
}
.m-wi_extreme-night-hail:before {
    content: "\f124";
}
.m-wi_extreme-night-haze:before {
    content: "\f125";
}
.m-wi_extreme-night-rain:before {
    content: "\f126";
}
.m-wi_extreme-night-sleet:before {
    content: "\f127";
}
.m-wi_extreme-night-smoke:before {
    content: "\f128";
}
.m-wi_extreme-night-snow:before {
    content: "\f129";
}
.m-wi_extreme-night:before {
    content: "\f12a";
}
.m-wi_extreme-rain:before {
    content: "\f12b";
}
.m-wi_extreme-sleet:before {
    content: "\f12c";
}
.m-wi_extreme-smoke:before {
    content: "\f12d";
}
.m-wi_extreme-snow:before {
    content: "\f12e";
}
.m-wi_extreme:before {
    content: "\f12f";
}
.m-wi_fahrenheit:before {
    content: "\f130";
}
.m-wi_falling-stars:before {
    content: "\f131";
}
.m-wi_flag-gale-warning:before {
    content: "\f132";
}
.m-wi_flag-hurricane-warning:before {
    content: "\f133";
}
.m-wi_flag-small-craft-advisory:before {
    content: "\f134";
}
.m-wi_flag-storm-warning:before {
    content: "\f135";
}
.m-wi_fog-day:before {
    content: "\f136";
}
.m-wi_fog-night:before {
    content: "\f137";
}
.m-wi_fog:before {
    content: "\f138";
}
.m-wi_glove:before {
    content: "\f139";
}
.m-wi_hail:before {
    content: "\f13a";
}
.m-wi_haze-day:before {
    content: "\f13b";
}
.m-wi_haze-night:before {
    content: "\f13c";
}
.m-wi_haze:before {
    content: "\f13d";
}
.m-wi_horizon:before {
    content: "\f13e";
}
.m-wi_humidity:before {
    content: "\f13f";
}
.m-wi_hurricane:before {
    content: "\f140";
}
.m-wi_lightning-bolt:before {
    content: "\f141";
}
.m-wi_mist:before {
    content: "\f142";
}
.m-wi_moon-first-quarter:before {
    content: "\f143";
}
.m-wi_moon-full:before {
    content: "\f144";
}
.m-wi_moon-last-quarter:before {
    content: "\f145";
}
.m-wi_moon-new:before {
    content: "\f146";
}
.m-wi_moon-waning-crescent:before {
    content: "\f147";
}
.m-wi_moon-waning-gibbous:before {
    content: "\f148";
}
.m-wi_moon-waxing-crescent:before {
    content: "\f149";
}
.m-wi_moon-waxing-gibbous:before {
    content: "\f14a";
}
.m-wi_moonrise:before {
    content: "\f14b";
}
.m-wi_moonset:before {
    content: "\f14c";
}
.m-wi_not-available:before {
    content: "\f14d";
}
.m-wi_overcast-day-drizzle:before {
    content: "\f14e";
}
.m-wi_overcast-day-fog:before {
    content: "\f14f";
}
.m-wi_overcast-day-hail:before {
    content: "\f150";
}
.m-wi_overcast-day-haze:before {
    content: "\f151";
}
.m-wi_overcast-day-rain:before {
    content: "\f152";
}
.m-wi_overcast-day-sleet:before {
    content: "\f153";
}
.m-wi_overcast-day-smoke:before {
    content: "\f154";
}
.m-wi_overcast-day-snow:before {
    content: "\f155";
}
.m-wi_overcast-day:before {
    content: "\f156";
}
.m-wi_overcast-drizzle:before {
    content: "\f157";
}
.m-wi_overcast-fog:before {
    content: "\f158";
}
.m-wi_overcast-hail:before {
    content: "\f159";
}
.m-wi_overcast-haze:before {
    content: "\f15a";
}
.m-wi_overcast-night-drizzle:before {
    content: "\f15b";
}
.m-wi_overcast-night-fog:before {
    content: "\f15c";
}
.m-wi_overcast-night-hail:before {
    content: "\f15d";
}
.m-wi_overcast-night-haze:before {
    content: "\f15e";
}
.m-wi_overcast-night-rain:before {
    content: "\f15f";
}
.m-wi_overcast-night-sleet:before {
    content: "\f160";
}
.m-wi_overcast-night-smoke:before {
    content: "\f161";
}
.m-wi_overcast-night-snow:before {
    content: "\f162";
}
.m-wi_overcast-night:before {
    content: "\f163";
}
.m-wi_overcast-rain:before {
    content: "\f164";
}
.m-wi_overcast-sleet:before {
    content: "\f165";
}
.m-wi_overcast-smoke:before {
    content: "\f166";
}
.m-wi_overcast-snow:before {
    content: "\f167";
}
.m-wi_overcast:before {
    content: "\f168";
}
.m-wi_partly-cloudy-day-drizzle:before {
    content: "\f169";
}
.m-wi_partly-cloudy-day-fog:before {
    content: "\f16a";
}
.m-wi_partly-cloudy-day-hail:before {
    content: "\f16b";
}
.m-wi_partly-cloudy-day-haze:before {
    content: "\f16c";
}
.m-wi_partly-cloudy-day-rain:before {
    content: "\f16d";
}
.m-wi_partly-cloudy-day-sleet:before {
    content: "\f16e";
}
.m-wi_partly-cloudy-day-smoke:before {
    content: "\f16f";
}
.m-wi_partly-cloudy-day-snow:before {
    content: "\f170";
}
.m-wi_partly-cloudy-day:before {
    content: "\f171";
}
.m-wi_partly-cloudy-night-drizzle:before {
    content: "\f172";
}
.m-wi_partly-cloudy-night-fog:before {
    content: "\f173";
}
.m-wi_partly-cloudy-night-hail:before {
    content: "\f174";
}
.m-wi_partly-cloudy-night-haze:before {
    content: "\f175";
}
.m-wi_partly-cloudy-night-rain:before {
    content: "\f176";
}
.m-wi_partly-cloudy-night-sleet:before {
    content: "\f177";
}
.m-wi_partly-cloudy-night-smoke:before {
    content: "\f178";
}
.m-wi_partly-cloudy-night-snow:before {
    content: "\f179";
}
.m-wi_partly-cloudy-night:before {
    content: "\f17a";
}
.m-wi_pollen-flower:before {
    content: "\f17b";
}
.m-wi_pollen-grass:before {
    content: "\f17c";
}
.m-wi_pollen-tree:before {
    content: "\f17d";
}
.m-wi_pollen:before {
    content: "\f17e";
}
.m-wi_pressure-high-alt:before {
    content: "\f17f";
}
.m-wi_pressure-high:before {
    content: "\f180";
}
.m-wi_pressure-low-alt:before {
    content: "\f181";
}
.m-wi_pressure-low:before {
    content: "\f182";
}
.m-wi_rain:before {
    content: "\f183";
}
.m-wi_rainbow-clear:before {
    content: "\f184";
}
.m-wi_rainbow:before {
    content: "\f185";
}
.m-wi_raindrop-measure:before {
    content: "\f186";
}
.m-wi_raindrop:before {
    content: "\f187";
}
.m-wi_raindrops:before {
    content: "\f188";
}
.m-wi_sleet:before {
    content: "\f189";
}
.m-wi_smoke-particles:before {
    content: "\f18a";
}
.m-wi_smoke:before {
    content: "\f18b";
}
.m-wi_snow:before {
    content: "\f18c";
}
.m-wi_snowflake:before {
    content: "\f18d";
}
.m-wi_snowman:before {
    content: "\f18e";
}
.m-wi_solar-eclipse:before {
    content: "\f18f";
}
.m-wi_star:before {
    content: "\f190";
}
.m-wi_starry-night:before {
    content: "\f191";
}
.m-wi_sun-hot:before {
    content: "\f192";
}
.m-wi_sunrise:before {
    content: "\f193";
}
.m-wi_sunset:before {
    content: "\f194";
}
.m-wi_thermometer-celsius:before {
    content: "\f195";
}
.m-wi_thermometer-colder:before {
    content: "\f196";
}
.m-wi_thermometer-fahrenheit:before {
    content: "\f197";
}
.m-wi_thermometer-glass-celsius:before {
    content: "\f198";
}
.m-wi_thermometer-glass-fahrenheit:before {
    content: "\f199";
}
.m-wi_thermometer-glass:before {
    content: "\f19a";
}
.m-wi_thermometer-mercury-cold:before {
    content: "\f19b";
}
.m-wi_thermometer-mercury:before {
    content: "\f19c";
}
.m-wi_thermometer-moon:before {
    content: "\f19d";
}
.m-wi_thermometer-raindrop:before {
    content: "\f19e";
}
.m-wi_thermometer-snow:before {
    content: "\f19f";
}
.m-wi_thermometer-sun:before {
    content: "\f1a0";
}
.m-wi_thermometer-warmer:before {
    content: "\f1a1";
}
.m-wi_thermometer-water:before {
    content: "\f1a2";
}
.m-wi_thermometer:before {
    content: "\f1a3";
}
.m-wi_thunderstorms-day-extreme-rain:before {
    content: "\f1a4";
}
.m-wi_thunderstorms-day-extreme-snow:before {
    content: "\f1a5";
}
.m-wi_thunderstorms-day-extreme:before {
    content: "\f1a6";
}
.m-wi_thunderstorms-day-overcast-rain:before {
    content: "\f1a7";
}
.m-wi_thunderstorms-day-overcast-snow:before {
    content: "\f1a8";
}
.m-wi_thunderstorms-day-overcast:before {
    content: "\f1a9";
}
.m-wi_thunderstorms-day-rain:before {
    content: "\f1aa";
}
.m-wi_thunderstorms-day-snow:before {
    content: "\f1ab";
}
.m-wi_thunderstorms-day:before {
    content: "\f1ac";
}
.m-wi_thunderstorms-extreme-rain:before {
    content: "\f1ad";
}
.m-wi_thunderstorms-extreme-snow:before {
    content: "\f1ae";
}
.m-wi_thunderstorms-extreme:before {
    content: "\f1af";
}
.m-wi_thunderstorms-night-extreme-rain:before {
    content: "\f1b0";
}
.m-wi_thunderstorms-night-extreme-snow:before {
    content: "\f1b1";
}
.m-wi_thunderstorms-night-extreme:before {
    content: "\f1b2";
}
.m-wi_thunderstorms-night-overcast-rain:before {
    content: "\f1b3";
}
.m-wi_thunderstorms-night-overcast-snow:before {
    content: "\f1b4";
}
.m-wi_thunderstorms-night-overcast:before {
    content: "\f1b5";
}
.m-wi_thunderstorms-night-rain:before {
    content: "\f1b6";
}
.m-wi_thunderstorms-night-snow:before {
    content: "\f1b7";
}
.m-wi_thunderstorms-night:before {
    content: "\f1b8";
}
.m-wi_thunderstorms-overcast-rain:before {
    content: "\f1b9";
}
.m-wi_thunderstorms-overcast-snow:before {
    content: "\f1ba";
}
.m-wi_thunderstorms-overcast:before {
    content: "\f1bb";
}
.m-wi_thunderstorms-rain:before {
    content: "\f1bc";
}
.m-wi_thunderstorms-snow:before {
    content: "\f1bd";
}
.m-wi_thunderstorms:before {
    content: "\f1be";
}
.m-wi_tide-high:before {
    content: "\f1bf";
}
.m-wi_tide-low:before {
    content: "\f1c0";
}
.m-wi_time-afternoon:before {
    content: "\f1c1";
}
.m-wi_time-evening:before {
    content: "\f1c2";
}
.m-wi_time-late-afternoon:before {
    content: "\f1c3";
}
.m-wi_time-late-evening:before {
    content: "\f1c4";
}
.m-wi_time-late-morning:before {
    content: "\f1c5";
}
.m-wi_time-late-night:before {
    content: "\f1c6";
}
.m-wi_time-morning:before {
    content: "\f1c7";
}
.m-wi_time-night:before {
    content: "\f1c8";
}
.m-wi_tornado:before {
    content: "\f1c9";
}
.m-wi_umbrella-wind-alt:before {
    content: "\f1ca";
}
.m-wi_umbrella-wind:before {
    content: "\f1cb";
}
.m-wi_umbrella:before {
    content: "\f1cc";
}
.m-wi_uv-index-1:before {
    content: "\f1cd";
}
.m-wi_uv-index-10:before {
    content: "\f1ce";
}
.m-wi_uv-index-11:before {
    content: "\f1cf";
}
.m-wi_uv-index-2:before {
    content: "\f1d0";
}
.m-wi_uv-index-3:before {
    content: "\f1d1";
}
.m-wi_uv-index-4:before {
    content: "\f1d2";
}
.m-wi_uv-index-5:before {
    content: "\f1d3";
}
.m-wi_uv-index-6:before {
    content: "\f1d4";
}
.m-wi_uv-index-7:before {
    content: "\f1d5";
}
.m-wi_uv-index-8:before {
    content: "\f1d6";
}
.m-wi_uv-index-9:before {
    content: "\f1d7";
}
.m-wi_uv-index:before {
    content: "\f1d8";
}
.m-wi_wind-alert:before {
    content: "\f1d9";
}
.m-wi_wind-beaufort-0:before {
    content: "\f1da";
}
.m-wi_wind-beaufort-1:before {
    content: "\f1db";
}
.m-wi_wind-beaufort-10:before {
    content: "\f1dc";
}
.m-wi_wind-beaufort-11:before {
    content: "\f1dd";
}
.m-wi_wind-beaufort-12:before {
    content: "\f1de";
}
.m-wi_wind-beaufort-2:before {
    content: "\f1df";
}
.m-wi_wind-beaufort-3:before {
    content: "\f1e0";
}
.m-wi_wind-beaufort-4:before {
    content: "\f1e1";
}
.m-wi_wind-beaufort-5:before {
    content: "\f1e2";
}
.m-wi_wind-beaufort-6:before {
    content: "\f1e3";
}
.m-wi_wind-beaufort-7:before {
    content: "\f1e4";
}
.m-wi_wind-beaufort-8:before {
    content: "\f1e5";
}
.m-wi_wind-beaufort-9:before {
    content: "\f1e6";
}
.m-wi_wind-offshore:before {
    content: "\f1e7";
}
.m-wi_wind-onshore:before {
    content: "\f1e8";
}
.m-wi_wind-snow:before {
    content: "\f1e9";
}
.m-wi_wind:before {
    content: "\f1ea";
}
.m-wi_windsock-weak:before {
    content: "\f1eb";
}
.m-wi_windsock:before {
    content: "\f1ec";
}
